<div class="page-header">
	<h1>{{customer.name}} <strong class="m-gray">#{{customer.id}}</strong></h1>
	<p><em>(Create: {{customer.create}}) <span ng-if="customer.modify">, Modify: {{customer.modify}}</span></em></p>
</div>
<p>
	<input type="checkbox" id="showEdit" ng-model="showEdit" class="m-hide"><label for="showEdit" class="linkLabel m-live">Edit</label>
	<input type="checkbox" id="showDeleteConfirmation" ng-model="showDeleteConfirmation" class="m-hide"><label for="showDeleteConfirmation" class="linkLabel m-live">Delete</label>
</p>
<div class="customers_list">
	<p><strong>Email:</strong> {{customer.email}}</p>
	<p><strong>Address:</strong> {{customer.address}}</p>
</div>

<form id="addForm" name="ctrl.addForm" ng-submit="ctrl.saveCustomer()" ng-show="showEdit">
	<fieldset>
		<p>
			<input type="text" ng-model="customer.name" placeholder="Name" class="form-control"
				ng-maxlength="80"
				ng-required="true"
				/>
			<span class="m-error">Please, fill in name</span>
		</p>
		<p>
			<input type="text" ng-model="customer.address" placeholder="Address" class="form-control"
				ng-maxlength="80"
				ng-required="true"
				/>
			<span class="m-error">Please, fill in address</span>
		</p>
		<p>
			<input type="email" ng-model="customer.email" placeholder="Email" class="form-control"
				ng-maxlength="80"
				ng-required="true"
				/>
			<span class="m-error">Please, fill in correct email</span>
		</p>
		<input type="submit" class="btn btn-success" value="Save Customer">
	</fieldset>
</form>
